*{
    padding:0;
    margin: 0;
}
p {
    color: gray;
    font-size: 56px;
    }
body{
    margin: 0;
    font-family: Arial, "Helvetica, Neue", Arial, Helvetica, sans-serif;
}
img{
    width: 10000px;
    height:50%;
}
.menu-bar {
    background:rgb (0,0,0) ;
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color:black;
}
.menu-bar ul li{
width: 110px;
margin: 15px;
padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    padding: 15px;
    display: block;
    border-right: 1px;
}
.active, .menu-bar ul li:hover 
{
    background:gray;
    border-radius:10px;
}














